<h2>Homepage images</h2>

<h3>Gruppo delle pale di San Martino - Dolomiti</h3>
<a href="http://www.flickr.com/photos/photolupi/3302596605/">
  http://www.flickr.com/photos/photolupi/3302596605/</a><br>
&copy; 2009 <a href="http://www.flickr.com/photos/photolupi/">photolupi</a>
&mdash; License: <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/"
		    title="Attribution-NonCommercial-ShareAlike 2.0 Generic">cc by-nc-sa</a>

<h3>Agriturismo Al Castel</h3>
<a href="http://flickr.com/photos/14506152@N03/6011774033">
  http://flickr.com/photos/14506152@N03/6011774033</a><br>
&copy; 2011 <a href="http://www.flickr.com/photos/14506152@N03/">Puntin1969</a>
&mdash; License: <a href="http://creativecommons.org/licenses/by/2.0/"
		    title="Attribution 2.0 Generic">cc by</a>

<h3>Cloud sky over Brest</h3>
<a href="http://commons.wikimedia.org/wiki/File:Cloud_sky_over_Brest.jpg">
  http://commons.wikimedia.org/wiki/File:Cloud_sky_over_Brest.jpg</a><br>
&copy; 2012 Luca Lorenzi
&mdash; License: <a href="http://creativecommons.org/licenses/by-sa/2.0/"
		    title="Attribution-ShareAlike 2.0 Generic">cc by-sa</a>
