<h2>Homepage images</h2>

<h3>Gruppo delle pale di San Martino - Dolomiti</h3>
<a href="http://www.flickr.com/photos/photolupi/3302596605/">http://www.flickr.com/photos/photolupi/3302596605/</a> (cc by-nc-sa)

<h3>Foto vigneto in homepage</h3>
<a href="http://flickr.com/photos/14506152@N03/6011774033">http://flickr.com/photos/14506152@N03/6011774033</a>

<h3>Foto cielo in homepage</h3>
Luis Garc&iacute;a &mdash; <a href="http://commons.wikimedia.org/wiki/File:De_Madrid_al_cielo_114.jpg">http://commons.wikimedia.org/wiki/File:De_Madrid_al_cielo_114.jpg</a>
