.nav-item.active > a:before {
  background-image: none;
  width: 0;
  height: 0;
  border-top: 17px solid rgba(140, 160, 166, 0);
  border-bottom: 17px solid rgba(140, 160, 166, 0);
  border-left: 6px solid #8ca0a6;
}
.site-footer .attribution {
  float: right;
}
.site-footer .attribution strong {
  float: left;
}
.site-footer .attribution .ckan-footer-logo {
  float: left;
  margin-left: 10px;
}
.site-footer .lang-select {
  clear: left;
  padding-top: 10px;
}
.hero-primary,
.hero-secondary {
  position: static;
  float: none;
  margin: 0;
  width: auto;
}
.hero-primary .page-heading,
.hero-primary h3 {
  font-size: 24px;
  margin: 0;
}
.hero-secondary {
  height: 50px;
  padding: 0 10px;
  color: #fff;
  line-height: 50px;
  font-size: 19px;
  text-align: center;
  background: #23759f;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 4px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.main.homepage {
  padding: 0 0 20px 0;
}
.main.homepage .module:first-child .module-heading {
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.main.homepage .group-listing .box {
  position: relative;
}
.ribbon {
  position: absolute;
  top: -2px;
  right: -2px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.ribbon > * {
  text-transform: uppercase;
  font-size: 12px;
  background-color: #333;
  color: #fff;
  -webkit-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.75);
}
.ribbon > em {
  display: block;
  position: absolute;
  top: 20px;
  left: 10px;
  width: 100px;
  padding: 0 10px;
  font-style: normal;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.ribbon.featured > * {
  background-color: #23759f;
}
.ribbon.new > * {
  background-color: #8cc68a;
}
.no-underline,
.no-underline:hover {
  text-decoration: none;
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
body {
  background-color: #282828;
  background-image: none;
  color: #333333;
}
a,
.btn-link {
  color: #1a5675;
}
a:not([href]) {
  cursor: default;
}
a:not([href]),
a:not([href]):hover,
a:not([href]):focus {
  text-decoration: none;
  color: #333333;
}
a:hover,
a:focus,
.btn-link:hover,
.btn-link:focus {
  color: #23759f;
}
a,
a:before,
a:after,
button,
input[type="button"] {
  transition: background-color ease 0.5s, border-color ease 0.5s;
}
h1 a[href^="#"],
h2 a[href^="#"],
h3 a[href^="#"],
h4 a[href^="#"],
h5 a[href^="#"],
h6 a[href^="#"] {
  display: none;
}
h1:hover a[href^="#"],
h2:hover a[href^="#"],
h3:hover a[href^="#"],
h4:hover a[href^="#"],
h5:hover a[href^="#"],
h6:hover a[href^="#"] {
  display: inline;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  background: #0a0a0a;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0a0a0a), color-stop(1, #242424));
  background: -ms-linear-gradient(bottom, #0a0a0a, #242424);
  background: -moz-linear-gradient(center bottom, #0a0a0a 0%, #242424 100%);
  background: -o-linear-gradient(#242424, #0a0a0a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#242424', endColorstr='#0a0a0a', GradientType=0);
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background: #0a0a0a;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0a0a0a), color-stop(1, #242424));
  background: -ms-linear-gradient(bottom, #0a0a0a, #242424);
  background: -moz-linear-gradient(center bottom, #0a0a0a 0%, #242424 100%);
  background: -o-linear-gradient(#242424, #0a0a0a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#242424', endColorstr='#0a0a0a', GradientType=0);
}
.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  background-color: #242424;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
  background-color: #242424;
}
.nav .dropdown-toggle .caret {
  border-top-color: #242424;
  border-bottom-color: #242424;
}
.nav .dropdown-toggle:hover .caret,
.nav .dropdown-toggle:focus .caret {
  border-top-color: #000000;
  border-bottom-color: #000000;
}
a.thumbnail:hover,
a.thumbnail:focus {
  border-color: #242424;
  -webkit-box-shadow: 0 1px 4px rgba(61, 61, 61, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(61, 61, 61, 0.25);
  box-shadow: 0 1px 4px rgba(61, 61, 61, 0.25);
}
.editor .editor-info-block a {
  color: #242424;
}
.popover-followee .nav li a i {
  background-color: #242424;
  -webkit-box-shadow: inset 0 1px 2 x rgba(61, 61, 61, 0.2);
  -moz-box-shadow: inset 0 1px 2 x rgba(61, 61, 61, 0.2);
  box-shadow: inset 0 1px 2 x rgba(61, 61, 61, 0.2);
}
.popover-followee .nav li.active a i {
  color: #242424;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #707070;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(61, 61, 61, 0.4);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(61, 61, 61, 0.4);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(61, 61, 61, 0.4);
}
.btn-primary {
  background: #23759f;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #053663), color-stop(1, #23759f));
  background: -ms-linear-gradient(bottom, #053663, #23759f);
  background: -moz-linear-gradient(center bottom, #053663 0%, #23759f 100%);
  background: -o-linear-gradient(#23759f, #053663);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#23759f', endColorstr='#053663', GradientType=0);
  border-color: #053663;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background: #053663;
}
.btn-info {
  background: #282828;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #060606), color-stop(1, #282828));
  background: -ms-linear-gradient(bottom, #060606, #282828);
  background: -moz-linear-gradient(center bottom, #060606 0%, #282828 100%);
  background: -o-linear-gradient(#282828, #060606);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#282828', endColorstr='#060606', GradientType=0);
  border-color: #060606;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background: #060606;
}
.btn-success {
  background: #8cc68a;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #4d9a4b), color-stop(1, #8cc68a));
  background: -ms-linear-gradient(bottom, #4d9a4b, #8cc68a);
  background: -moz-linear-gradient(center bottom, #4d9a4b 0%, #8cc68a 100%);
  background: -o-linear-gradient(#8cc68a, #4d9a4b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cc68a', endColorstr='#4d9a4b', GradientType=0);
  border-color: #4d9a4b;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background: #4d9a4b;
}
.btn-warning {
  background: #fe9131;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fd5209), color-stop(1, #fe9131));
  background: -ms-linear-gradient(bottom, #fd5209, #fe9131);
  background: -moz-linear-gradient(center bottom, #fd5209 0%, #fe9131 100%);
  background: -o-linear-gradient(#fe9131, #fd5209);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe9131', endColorstr='#fd5209', GradientType=0);
  border-color: #fd5209;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  background: #fd5209;
}
.btn-danger {
  background: #fe4c30;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fd1709), color-stop(1, #fe4c30));
  background: -ms-linear-gradient(bottom, #fd1709, #fe4c30);
  background: -moz-linear-gradient(center bottom, #fd1709 0%, #fe4c30 100%);
  background: -o-linear-gradient(#fe4c30, #fd1709);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe4c30', endColorstr='#fd1709', GradientType=0);
  border-color: #fd1709;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background: #fd1709;
}
.account-masthead {
  background-color: #bccd00;
  background-image: none;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.account-masthead .account ul li {
  border: none;
}
.account-masthead .account ul li a {
  color: #fff;
  transition: background-color ease 0.5s;
}
.account-masthead .account ul li a:hover {
  color: #fff;
  background-color: #8d9a00;
}
.account-masthead .account .notifications a span {
  background-color: #8d9a00;
}
.nav-pills > li > a {
  border-radius: 0 0 0 0;
}
.masthead {
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: #ffffff;
  background-image: none;
  border-bottom: solid 1px #ccc;
}
.masthead,
.masthead a {
  color: #333;
}
.masthead .navigation {
  margin: 0;
}
.masthead .navigation .nav-pills > li:first-child > a {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 20px;
}
.masthead .navigation .nav-pills > li:last-child > a {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-right: 20px;
}
.masthead .navigation .nav-pills > li > a {
  margin: 0;
  padding: 10px 10px;
  color: #fff;
  background: #23759f;
  transition: background-color ease 0.5s;
  -webkit-border-top-right-radius: 0 0 0 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0 0 0 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0 0 0 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.masthead .navigation .nav-pills > li > a:hover,
.masthead .navigation .nav-pills > li > a:focus {
  background-color: #2884b4;
}
.masthead .navigation .nav-pills li.active a {
  background-color: #1e668a;
}
.masthead input[type="text"] {
  border-color: #242424;
}
.masthead input[type="text"]:focus {
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}
.masthead .site-search input {
  padding: 5px 10px;
}
.masthead .logo {
  display: block;
  margin-top: 6px;
}
.masthead .header-image .subtitle {
  position: absolute;
  top: 70px;
  right: 0;
  font-size: 16px;
  font-style: italic;
}
.masthead .header-image .subtitle strong {
  color: #23759f;
}
.masthead .site-search input[name="q"] {
  border-color: #aaa;
}
[role="main"],
.main {
  background-image: none;
  background-color: #eee;
}
.box {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pill {
  background-color: #282828;
}
.pill a:hover {
  color: #FFF;
}
.nav-item.active > a,
.nav-item.active > a:hover {
  background-color: #282828;
}
.nav-item.active > a:before {
  border-left-color: #282828;
}
.site-footer {
  background-color: #111;
  background-image: none;
  border-top: solid 1px #000;
}
.site-footer .navigation .nav-pills a:hover,
.site-footer .navigation .nav-pills .active a {
  background-color: #282828;
}
.site-footer input[type="text"] {
  border-color: #0e0e0e;
}
.site-footer,
.site-footer label,
.site-footer small {
  color: rgba(255, 255, 255, 0.6);
}
.site-footer a {
  color: rgba(255, 255, 255, 0.6);
}
.attribution small {
  color: rgba(255, 255, 255, 0.6);
}
.tag-list-2 {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
.tag-list-2 li {
  display: inline-block;
  position: relative;
  margin: 5px ;
}
.tag-list-2 a.tag-item {
  display: block;
  padding: 3px 10px;
  background: #222;
  color: #eee;
  text-decoration: none;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 2px;
}
.tag-list-2 a.tag-item:hover {
  background: #888;
}
.home-box {
  height: 140px;
  margin: 0 0 20px 0;
  padding: 20px;
  text-align: center;
  background: #eee;
  background: rgba(238, 238, 238, 0.8);
  border: none;
  -webkit-box-shadow: inset 1px 1px 0 #ffffff;
  -moz-box-shadow: inset 1px 1px 0 #ffffff;
  box-shadow: inset 1px 1px 0 #ffffff;
}
.home-box h3 {
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 10px;
}
.home-box .dataset-search {
  margin-top: 20px;
}
.home-box .dataset-search input,
.home-box .dataset-search button {
  margin: 0;
}
.home-primary-text,
.home-search {
  text-align: center;
}
.home-primary-text p,
.home-search p {
  padding: 10px 60px;
}
.homepage-slider-ng {
  height: 400px;
  position: relative;
  background: #333;
}
.homepage-slider-ng:before,
.homepage-slider-ng:after {
  position: absolute;
  width: 100%;
  height: 15px;
  z-index: 10;
  content: ' ';
  left: 0;
  right: 0;
}
.homepage-slider-ng:before {
  top: 0;
  background: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(0, 0, 0, 0)), color-stop(1, rgba(0, 0, 0, 0.3)));
  background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background: -moz-linear-gradient(center bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
  background: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 0, 0, 0.3)', endColorstr='rgba(0, 0, 0, 0)', GradientType=0);
}
.homepage-slider-ng:after {
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(0, 0, 0, 0.3)), color-stop(1, rgba(0, 0, 0, 0)));
  background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(center bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
  background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 0, 0, 0)', endColorstr='rgba(0, 0, 0, 0.3)', GradientType=0);
}
.homepage-slider-ng .text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 400px;
  z-index: 1;
  background-position: center center;
}
.homepage-slider-ng .text-wrapper .text-container {
  color: #fff;
  padding-top: 30px;
  text-align: center;
  text-shadow: #000 2px 2px 5px;
  font-size: 24px;
  line-height: 32px;
  width: 900px;
  margin: 0 auto;
}
.homepage-slider-ng .text-wrapper .text-container h3,
.homepage-slider-ng .text-wrapper .text-container .text-row {
  background: rgba(0, 0, 0, 0.5);
  padding: 0 10px;
  display: inline-block;
  margin: 3px 0;
}
.homepage-slider-ng .text-wrapper .text-container h3 {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bold;
}
.homepage-slider-ng .text-wrapper .text-container a {
  color: #eee;
  text-decoration: underline;
}
.homepage-slider-ng .boxes-wrapper {
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  bottom: 10px;
}
.homepage-slider-ng .boxes-wrapper,
.homepage-slider-ng .boxes-wrapper .home-box {
  z-index: 10 !important;
}
.rot1 {
  transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -webkit-transform: rotate(1deg);
}
.rot2 {
  transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
}
.rot3 {
  transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
}
.rot4 {
  transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
}
.rot5 {
  transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
}
.rot6 {
  transform: rotate(6deg);
  -moz-transform: rotate(6deg);
  -webkit-transform: rotate(6deg);
}
.rotm1 {
  transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -webkit-transform: rotate(-1deg);
}
.rotm2 {
  transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
}
.rotm3 {
  transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
}
.rotm4 {
  transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  -webkit-transform: rotate(-4deg);
}
.rotm5 {
  transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
}
.rotm6 {
  transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
  -webkit-transform: rotate(-6deg);
}
