/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.nav-item.active > a:before {
  background-image: none;
  width: 0;
  height: 0;
  border-top: 17px solid rgba(140, 160, 166, 0);
  border-bottom: 17px solid rgba(140, 160, 166, 0);
  border-left: 6px solid #8ca0a6;
}
.site-footer .attribution {
  float: right;
}
.site-footer .attribution strong {
  float: left;
}
.site-footer .attribution .ckan-footer-logo {
  float: left;
  margin-left: 10px;
}
.site-footer .lang-select {
  clear: left;
  padding-top: 10px;
}
.hero {
  padding: 0;
}
.hero:before {
  position: absolute;
  width: 100%;
  height: 7px;
  z-index: 1;
  content: ' ';
  background: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(0, 0, 0, 0)), color-stop(1, rgba(0, 0, 0, 0.25)));
  background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
  background: -moz-linear-gradient(center bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
  background: -o-linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 0, 0, 0.25)', endColorstr='rgba(0, 0, 0, 0)', GradientType=0);
}
.hero-primary,
.hero-secondary {
  position: static;
  float: none;
  margin: 0;
  width: auto;
}
.hero-primary .page-heading,
.hero-primary h3 {
  font-size: 24px;
  margin: 0;
}
.hero-secondary {
  height: 50px;
  padding: 0 10px;
  color: #fff;
  line-height: 50px;
  font-size: 19px;
  text-align: center;
  background: #0082a4;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 4px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.main.homepage {
  padding: 0 0 20px 0;
}
.main.homepage .module:first-child .module-heading {
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.main.homepage .group-listing .box {
  position: relative;
}
.ribbon {
  position: absolute;
  top: -2px;
  right: -2px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.ribbon > * {
  text-transform: uppercase;
  font-size: 12px;
  background-color: #333;
  color: #fff;
  -webkit-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.75);
}
.ribbon > em {
  display: block;
  position: absolute;
  top: 20px;
  left: 10px;
  width: 100px;
  padding: 0 10px;
  font-style: normal;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.ribbon.featured > * {
  background-color: #0082a4;
}
.ribbon.new > * {
  background-color: #8cc68a;
}
body {
  background-color: #282828;
  background-image: none;
}
a,
.btn-link {
  color: #005a71;
}
a:hover,
a:focus,
.btn-link:hover,
.btn-link:focus {
  color: #0082a4;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0082a4;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  background: #0a0a0a;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0a0a0a), color-stop(1, #242424));
  background: -ms-linear-gradient(bottom, #0a0a0a, #242424);
  background: -moz-linear-gradient(center bottom, #0a0a0a 0%, #242424 100%);
  background: -o-linear-gradient(#242424, #0a0a0a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#242424', endColorstr='#0a0a0a', GradientType=0);
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background: #0a0a0a;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0a0a0a), color-stop(1, #242424));
  background: -ms-linear-gradient(bottom, #0a0a0a, #242424);
  background: -moz-linear-gradient(center bottom, #0a0a0a 0%, #242424 100%);
  background: -o-linear-gradient(#242424, #0a0a0a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#242424', endColorstr='#0a0a0a', GradientType=0);
}
.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  background-color: #242424;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
  background-color: #242424;
}
.nav .dropdown-toggle .caret {
  border-top-color: #242424;
  border-bottom-color: #242424;
}
.nav .dropdown-toggle:hover .caret,
.nav .dropdown-toggle:focus .caret {
  border-top-color: #000000;
  border-bottom-color: #000000;
}
a.thumbnail:hover,
a.thumbnail:focus {
  border-color: #242424;
  -webkit-box-shadow: 0 1px 4px rgba(61, 61, 61, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(61, 61, 61, 0.25);
  box-shadow: 0 1px 4px rgba(61, 61, 61, 0.25);
}
.editor .editor-info-block a {
  color: #242424;
}
.popover-followee .nav li a i {
  background-color: #242424;
  -webkit-box-shadow: inset 0 1px 2 x rgba(61, 61, 61, 0.2);
  -moz-box-shadow: inset 0 1px 2 x rgba(61, 61, 61, 0.2);
  box-shadow: inset 0 1px 2 x rgba(61, 61, 61, 0.2);
}
.popover-followee .nav li.active a i {
  color: #242424;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #707070;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(61, 61, 61, 0.4);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(61, 61, 61, 0.4);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(61, 61, 61, 0.4);
}
.btn-primary {
  background: #0082a4;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #004269), color-stop(1, #0082a4));
  background: -ms-linear-gradient(bottom, #004269, #0082a4);
  background: -moz-linear-gradient(center bottom, #004269 0%, #0082a4 100%);
  background: -o-linear-gradient(#0082a4, #004269);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0082a4', endColorstr='#004269', GradientType=0);
  border-color: #004269;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background: #004269;
}
.btn-info {
  background: #282828;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #060606), color-stop(1, #282828));
  background: -ms-linear-gradient(bottom, #060606, #282828);
  background: -moz-linear-gradient(center bottom, #060606 0%, #282828 100%);
  background: -o-linear-gradient(#282828, #060606);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#282828', endColorstr='#060606', GradientType=0);
  border-color: #060606;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background: #060606;
}
.btn-success {
  background: #8cc68a;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #4d9a4b), color-stop(1, #8cc68a));
  background: -ms-linear-gradient(bottom, #4d9a4b, #8cc68a);
  background: -moz-linear-gradient(center bottom, #4d9a4b 0%, #8cc68a 100%);
  background: -o-linear-gradient(#8cc68a, #4d9a4b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cc68a', endColorstr='#4d9a4b', GradientType=0);
  border-color: #4d9a4b;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background: #4d9a4b;
}
.btn-warning {
  background: #fe9131;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fd5209), color-stop(1, #fe9131));
  background: -ms-linear-gradient(bottom, #fd5209, #fe9131);
  background: -moz-linear-gradient(center bottom, #fd5209 0%, #fe9131 100%);
  background: -o-linear-gradient(#fe9131, #fd5209);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe9131', endColorstr='#fd5209', GradientType=0);
  border-color: #fd5209;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  background: #fd5209;
}
.btn-danger {
  background: #fe4c30;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fd1709), color-stop(1, #fe4c30));
  background: -ms-linear-gradient(bottom, #fd1709, #fe4c30);
  background: -moz-linear-gradient(center bottom, #fd1709 0%, #fe4c30 100%);
  background: -o-linear-gradient(#fe4c30, #fd1709);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe4c30', endColorstr='#fd1709', GradientType=0);
  border-color: #fd1709;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background: #fd1709;
}
.account-masthead {
  background-color: #cbd300;
  background-image: none;
}
.account-masthead .account ul li {
  border: none;
}
.account-masthead .account ul li a {
  color: #fff;
}
.account-masthead .account ul li a:hover {
  color: #fff;
  background-color: #9aa000;
}
.account-masthead .account .notifications a span {
  background-color: #9aa000;
}
.masthead {
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: #ffffff;
  background-image: none;
}
.masthead,
.masthead a {
  color: #333;
}
.masthead .navigation {
  background: #0082a4;
  border-radius: 5px;
  padding: 0 5px;
}
.masthead .navigation a {
  color: #fff;
}
.masthead .navigation .nav-pills li a {
  color: #fff;
}
.masthead .navigation .nav-pills li a:hover {
  background-color: #0096be;
}
.masthead .navigation .nav-pills li.active a {
  background-color: #006e8b;
}
.masthead input[type="text"] {
  border-color: #242424;
}
.masthead input[type="text"]:focus {
  -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
}
.masthead .site-search input {
  padding: 5px 10px;
}
.masthead .logo {
  display: block;
  margin-top: 6px;
}
.masthead .header-image .subtitle {
  position: absolute;
  left: 240px;
  bottom: -2px;
  font-size: 16px;
  font-style: italic;
}
.masthead .header-image .subtitle strong {
  color: #0082a4;
}
.masthead .site-search input[name="q"] {
  border-color: #aaa;
}
[role=main],
.main {
  background-image: none;
  background-color: #f0f0f0;
}
.box {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pill {
  background-color: #282828;
}
.pill a:hover {
  color: #FFF;
}
.nav-item.active > a,
.nav-item.active > a:hover {
  background-color: #282828;
}
.nav-item.active > a:before {
  border-left-color: #282828;
}
.site-footer {
  background-color: #282828;
  background-image: none;
}
.site-footer .navigation .nav-pills a:hover,
.site-footer .navigation .nav-pills .active a {
  background-color: #282828;
}
.site-footer input[type="text"] {
  border-color: #0e0e0e;
}
.site-footer,
.site-footer label,
.site-footer small {
  color: rgba(255, 255, 255, 0.6);
}
.site-footer a {
  color: rgba(255, 255, 255, 0.6);
}
.attribution small {
  color: rgba(255, 255, 255, 0.6);
}
.hero {
  background-color: #FFFFFF;
}
.home-slider-container {
  padding: 20px 0 20px;
  text-align: center;
}
.home-primary-text {
  padding-top: 200px;
  background-repeat: no-repeat;
  text-align: center;
}
.home-primary-text {
  background-image: url(../images/visualise.jpg);
}
.home-primary-text,
.home-search {
  text-align: center;
}
.home-primary-text p,
.home-search p {
  padding: 10px 60px;
}
.hero .search-giant input {
  width: 220px;
  padding: 11px 10px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-color: #888;
}
.hero .search-giant button {
  padding: 11px 10px;
  margin-top: -10px;
}
.tag-list-2 {
  margin: 0;
  padding: 0;
  position: relative;
  right: 24px;
  bottom: -12px;
  list-style: none;
}
.tag-list-2 li {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  position: relative;
  font-size: 11px;
  margin: 0 5px 5px 15px;
}
.tag-list-2 a.tag-item {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  position: relative;
  font-size: 11px;
  padding: 0 10px 0 12px;
  background: #eeeeee;
  color: #333333;
  text-decoration: none;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: inset -1px -1px 0 0 #cccccc;
  -moz-box-shadow: inset -1px -1px 0 0 #cccccc;
  box-shadow: inset -1px -1px 0 0 #cccccc;
}
.tag-list-2 a.tag-item:before {
  content: "";
  float: left;
  position: absolute;
  top: 0;
  left: -12px;
  width: 0;
  height: 0;
  border-color: transparent #eeeeee transparent transparent;
  border-style: solid;
  border-width: 12px 12px 12px 0;
}
.tag-list-2 a.tag-item:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  float: left;
  width: 4px;
  height: 4px;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #fff;
  -webkit-box-shadow: -1px -1px 2px #888888;
  -moz-box-shadow: -1px -1px 2px #888888;
  box-shadow: -1px -1px 2px #888888;
}
.tag-list-2 a.tag-item:hover {
  color: #eeeeee;
  background: #333333;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.tag-list-2 a.tag-item:hover:before {
  border-color: transparent #333333 transparent transparent;
}
.main.homepage .tags.box {
  margin: -1px 0 20px 0;
  padding: 13px 20px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.main.homepage .tags.box h3 {
  float: left;
  font-size: 15px;
  line-height: 24px;
  margin: 0 10px 0 0;
}
.home-box {
  background: #eee;
  padding: 20px;
  border: solid 1px #ddd;
  margin: 0 0 20px 0;
  border-radius: 3px;
  text-align: center;
  height: 140px;
}
.home-box .tag-list-2 a.tag-item {
  background: #fff;
}
.home-box .tag-list-2 a.tag-item:before {
  border-color: transparent #fff transparent transparent;
}
.home-box .tag-list-2 a.tag-item:hover {
  background: #555;
}
.home-box .tag-list-2 a.tag-item:hover:before {
  border-color: transparent #555 transparent transparent;
}
