{% ckan_extends %}

{% block meta %}
  {{ super() }}
  <link
     rel="alternate"
     type="application/atom+xml"
     title="{{ _("{title} Atom Feed").format(title=g.site_title) }}"
     href="/revision/list?format=atom" />
{% endblock %}

{% block styles %}
  {{ super() }}
  {% resource 'ckanext-datitrentinoit/styles/datitrentinoit.css' %}
{% endblock %}

{%- block scripts  -%}
{{ super() }}

{% set ga_site_id = h.dti_ga_site_id()  %}
{% set ga_site_domain = h.dti_ga_site_domain()  %}

{% if ga_site_id %}
<!-- GA tracking code --><script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ ga_site_id }}', '{{ ga_site_domain }}');
  ga('send', 'pageview');
</script><!-- end GA tracking code -->
{% endif %}

{%- endblock -%}
