{% ckan_extends %}

{% block primary_content %}

  {% block home_primary %}
  <div class="hero-primary">
    <div class="row">
      <div class="span12">
      <div class="home-slider-container">
	<img src="{{ h.url_for_static('/images/home-slider/slider-01.jpg') }}">
      </div>
      </div>
    </div>

    <div class="row">
      <div class="span6">
	<div class="home-box">
	  {% block home_primary_content %}
   	    <h3>{{ _('Popular Tags') }}</h3>
   	    {% set tags = h.get_facet_items_dict('tags', limit=10) %}
   	    <ul class="tag-list-2">
   	      {% for tag in tags %}
   	      <li>
		<a class="tag-item"
		   href="{% url_for controller='package', action='search', tags=tag.name %}">
		  {{ h.truncate(tag.display_name, 22) }}
	        </a>
	      </li>
   	      {% endfor %}
   	    </ul>
	</div>
	  {% endblock home_primary_content %}
      </div>
      <div class="span6">
	<div class="home-box">
	{% block home_search %}
	<form class="dataset-search clearfix" method="get" action="{% url_for controller='package', action='search' %}">
	  <h3 class="heading">{{ _("Find data") }}</h3>
	  <p>Search for data, and get updates from datasets and groups that you're interested in.</p>
	  <span class="btn-group search-giant">
	    <input type="text" class="search" name="q" value="{{ c.q }}" autocomplete="off" placeholder="{{ _('Search') }}" />
	    <button type="submit" value="{{ _('Search') }}" class="btn btn-primary">Submit</button>
	  </span>
	</form>
	{% endblock home_search %}
	</div>
      </div>
    </div>

  </div>
  {% endblock home_primary %}

  <div class="hero-secondary">
    {% block home_secondary_content %}
    &laquo;qui possiamo mettere del testo per dire quanto siamo fighi, o roba del genere&raquo;
    {% endblock %}
  </div>

{% endblock primary_content %}


{% block secondary_content %}
  <div class="row group-listing" style="margin-top: 10px;">
    {% for group in c.group_package_stuff %}
    <div class="span6">
      <div class="box">
	{% snippet 'snippets/group_item.html', group=group.group_dict, truncate=100 %}
	<div class="featured ribbon"><em>Featured</em></div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
