{% ckan_extends %}


{% block content %}

  {{ self.primary_content() }}

  <div class="container">{{ self.flash() }}</div>

  <div class="main homepage">
    <div class="container">
      {{ self.secondary_content() }}
    </div>
  </div>

{% endblock %}



{% block primary_content %}

{% resource 'ckanext-datitrentinoit/scripts/homepage-slider.js' %}
{% resource 'ckanext-datitrentinoit/scripts/homepage-feed.js' %}

<div class="homepage-slider-ng">
  <div class="images-wrapper">

    <div class="text-wrapper" style="background-image:url(/images/home-slider/meteo_montagne.jpg)">
      <div class="text-container">
        <div><h3>{{ _("What's the weather like, today, in Trentino") }}</h3></div>
        <div class="text-row">
          {{ _("all the <a href=\"{link}\">weather datasets</a>:").format(link='/group/cat-meteo')|safe }}
        </div>
        <div class="text-row">
          {{ _("daily forecasts, mountain forecasts, chances of rain")|safe }}
        </div>
      </div>
    </div>

    <div class="text-wrapper" style="background-image:url(/images/home-slider/prodotti_tipici_vigneto.jpg);display:none;">
      <div class="text-container">
        <div><h3>{{ _("PDO, PGI, TSG") }}</h3></div>
        <div class="text-row">
          {{ _("a tasty tour among typical Trentino products") }}
        </div><br>
          <div class="text-row">
            <a href="/dataset?tags=prodotti+tipici">
              {{ _("Click here to discover more") }}
              </a>
          </div>
      </div>
    </div>

    <div class="text-wrapper" style="background-image:url(/images/home-slider/partecipa_neve.jpg);display:none;">
      <div class="text-container">
        <div><h3>{{ _("Partecipate") }}</h3></div>
        <div>
          <span class="text-row">
            {{ _("Is there any dataset you’d like to be available?") }}
          </span>
        </div>
        <div>
          <span class="text-row">
            {{ _("Do you have an idea that uses the datasets in the catalog?") }}
          </span>
          <span class="text-row">
            {{ _("Write to <a href=\"mailto:{email}\">{email}</a>").format(email='info&#64;dati.trentino.it')|safe }}
          </span>
        </div>
      </div>
    </div>

  </div>

  {# ---------- Container for boxes ---------- #}
  <div class="boxes-wrapper container"><div class="row">

      <div class="span6"><div class="home-box">
          <h3>{{ _('Popular Tags') }}</h3>
          {% set tags = h.get_facet_items_dict('tags', limit=10) %}
          <ul class="tag-list-2">
            {% for tag in tags %}
              <li>
                <a class="tag-item" href="{% url_for controller='package', action='search', tags=tag.name %}">
                   {{ h.truncate(tag.display_name, 22) }}
                </a>
              </li>
            {% endfor %}
          </ul>
      </div></div><!-- .span6 (tags box) -->

      <div class="span6"><div class="home-box">
          <h3>{{ _("Find data") }}</h3>
          <p>{% trans %}Search for data, and get updates from datasets and groups that you're interested in.{% endtrans %}</p>
          <form class="dataset-search clearfix"
                method="get"
                action="{% url_for controller='package', action='search' %}">
                <span class="btn-group search-giant">
                  <input type="text"
                         class="search"
                         name="q"
                         value="{{ c.q }}"
                         autocomplete="off"
                         placeholder="{{ _('Search') }}" />
                  <button type="submit"
                          value="{{ _('Search') }}"
                          class="btn btn-primary">
                          <i class="icon-search"></i> Search
                  </button>
                </span>
          </form>
      </div></div><!-- ( / search box ) -->

    </div><!-- .row.boxes-wrapper -->
  </div><!-- .container -->
</div>

{% endblock primary_content %}


{% block secondary_content %}

  <div class="row group-listing" style="margin-top: 10px;">

    {# ---------- Latest changes block ---------- #}
    <div class="span6"><div class="box">
        <section class="group-list module module-narrow module-shallow" style="height: 300px;">
          <header class="module-heading" style="position:relative;">
            <a href="/revision/list?format=atom" class="no-underline" style="position:absolute;top:15px;right:15px;" title="Atom Feed"><i class="icon-rss-sign icon-2x" style="color:#f90;"></i></a>
            <h3 class="media-heading">{{ _("Latest changes") }}</h3>
            {# <p>{{ _("See which are the most recent changes to datasets.") }}</p> #}
          </header>

          <div id="latest-changes">
            <p style="padding: 15px;text-align:center;">
              <a href="/revision/list?format=atom" class="no-underline" style="color:#000;font-size:80px;" title="Atom Feed"><i class="icon-rss" style="color:#f90;font-size:80px;"></i> Feed</a>
            </p>
          </div>

        </section>
    </div></div>

    {# ---------- Twitter timeline box ---------- #}
    <div class="span6">
      <div class="box">
        <section class="group-list module module-narrow module-shallow" style="height:300px">
      <a class="twitter-timeline"
         {# href="https://twitter.com/search?q=%23opendatatrentino+OR+%23opendataitaly+%2Bexclude%3Aretweets" #}
         href="https://twitter.com/search?q=%23opendatatrentino+%2Bexclude%3Aretweets"
         data-screen-name="DatiTrentinoIt"
         data-widget-id="370179043032719362">
        Tweet su #opendatatrentino</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </section>
      </div>
    </div>

  </div>
{% endblock %}
