<p>La titolarit&agrave; piena ed esclusiva del dataset "{{ pkg.get('title') }}"
  &egrave; del/la {{ pkg.get('Titolare', 'titolare') }} (Licenziante), ai
  sensi della L. 633/41 e s.m.i.</p>

<p>Il/La {{ pkg.get('Titolare', 'titolare') }} autorizza la libera e gratuita
  consultazione, estrazione, riproduzione e modifica dei dati in esso
  contenuti da parte di chiunque (Licenziatario) vi abbia interesse per
  qualunque fine, ovvero secondo i termini della Licenza Creative Commons Zero
  - CC0 v1.0 Universal (testo integrale:
  <a target="_blank" href="http://creativecommons.org/publicdomain/zero/1.0/legalcode">http://creativecommons.org/publicdomain/zero/1.0/legalcode</a>).
</p>

<p>Una spiegazione semplificata del contenuto della licenza &egrave; disponibile all'indirizzo: <a target="_blank" href="http://creativecommons.org/publicdomain/zero/1.0/deed.it">http://creativecommons.org/publicdomain/zero/1.0/deed.it</a>.</p>


<p>Il Licenziatario &egrave; invitato a segnalare ogni eventuale errore
  o incongruenza venisse rilevata rispetto al contenuto del documento.
  La segnalazione di eventuali inesattezze o errori pu&ograve; essere
  inviata al seguente indirizzo di posta elettronica
  <a href="mailto:{{ pkg.get('maintainer_email') }}">{{ pkg.get('maintainer_email') }}</a>,
  gestito da {{ pkg.get('maintainer') }}. Una copia di qualunque documento
  o dataset rielaborato potr&agrave; essere inviata all'indirizzo di posta
  elettronica <a href="mailto:{{ pkg.get('maintainer_email') }}">{{ pkg.get('maintainer_email') }}</a>.
</p>
