<p>La titolarit&agrave; piena ed esclusiva del dataset "{{ pkg.get('title') }}"
  &egrave; del/la {{ pkg.get('Titolare', 'titolare') }} (Licenziante), ai
  sensi della L. 633/41 e s.m.i.</p>

<p>Il/La {{ pkg.get('Titolare', 'titolare') }} autorizza la libera e gratuita
  consultazione, estrazione, riproduzione e modifica dei dati in essa
  contenuti da parte di chiunque (Licenziatario) vi abbia interesse per
  qualunque fine, purch&eacute; nel rispetto dei termini della licenza
  Creative Commons - Attribuzione 2.5 Italia (testo integrale:
  <a target="_blank" href="http://creativecommons.org/licenses/by/2.5/it/legalcode">
    http://creativecommons.org/licenses/by/2.5/it/legalcode</a>).</p>

<p>L'attribuzione dovr&agrave; fornire una menzione adeguata di:</p>

<ul>
  <li>Autore originale e/o titolare dei diritti:
    {% if pkg.get('author') %}<strong>{{ pkg.get('author') }}</strong>
    {% elif pkg.get('Titolare') %}<strong>{{ pkg.get('Titolare') }}</strong>
    {% endif %}</li>
  <li>Terze parti designate, se esistenti</li>
  <li>Nome della Banca Dati: <strong>{{ pkg.get('title') }}</strong></li>
  {% if pkg.get('URL sito') %}
  <li>
    <a target="_blank" href="{{ pkg.get('URL sito') }}">
      {{ pkg.get('URL sito')}}
    </a> ove ci&ograve; sia ragionevolmente possibile;
  </li>
  {% endif %}
</ul>

<p>In caso di documenti rielaborati o opere derivate di vario genere,
  l'attribuzione dovr&agrave; essere effettuata in modo tale da non
  ingenerare confusione rispetto all'origine del documento stesso.</p>

<p>Si precisa esplicitamente che con la presente licenza il Licenziante
  intende autorizzare il Licenziatario ad esercitare, ferme restando
  le restrizioni della licenza di cui sopra, anche i diritti disciplinati
  dall'art. 102-bis e ss., L. 633/41 e s.m.i. (c.d. diritto sui generis
  del costitutore di una banca di dati).</p>

<p>Il Licenziatario &egrave; invitato a segnalare ogni eventuale errore
  o incongruenza venisse rilevata rispetto al contenuto del documento.
  La segnalazione di eventuali inesattezze o errori pu&ograve; essere
  inviata al seguente indirizzo di posta elettronica
  <a href="mailto:{{ pkg.get('maintainer_email') }}">{{ pkg.get('maintainer_email') }}</a>,
  gestito da {{ pkg.get('maintainer') }}. Una copia di qualunque documento
  o dataset rielaborato potr&agrave; essere inviata all'indirizzo di posta
  elettronica <a href="mailto:{{ pkg.get('maintainer_email') }}">{{ pkg.get('maintainer_email') }}</a>.
</p>
