{% ckan_extends %}

{# Remove 'free extras' from the package form. If you're using
convert_to/from_extras() as we are with our 'custom_text' field below then
you need to remove free extras from the form, or editing your custom field
won't work. #}


{% block package_metadata_fields_url %}
    {{ form.input('url', label=_('Technical documentation'), id='field-url', placeholder=_('http://example.com/dataset.json'), value=data.url, error=errors.url, classes=['control-medium']) }}
{% endblock %}


{% block custom_fields %}
<hr>

{% set custom_fields = h.dti_get_custom_fields() %}

{% for field_name, field in custom_fields.iteritems() %}
{% if field_name == 'Descrizione campi' %}
    {{ form.textarea(field_name,
        label=field_name,
        id='field-' + field_name.replace(' ', '-'),
        placeholder=field.form_help,
        value=data[field_name],
        error=errors[field_name],
        classes=['control-full']) }}

  <div>
    <p>Se non specificato nella descrizione del dataset o nella "Documentazione tecnica", è necessario descrivere in questo metadato i campi (attributi) delle informazioni contenute nel dataset. Nel caso di dato tabellare, gli attributi corrispondono alle colonne della tabella. Le informazioni da specificare includono:</p>

    <dl>
      <dt>Nome completo</dt>
      <dd>E' il nome che viene mostrato all'utente quando consulta il dataset (es. "Descrizione")</dd>
      <dt>Nome breve</dt>
      <dd>E' il nome dell’attributo utilizzato nel dataset, normalmente un'abbreviazione del nome completo (es."Desc")</dd>
      <dt>Descrizione</dt>
      <dd>Illustra il significato del campo, eventuali relazioni con altri dataset, come il campo è stato generato, etc. (es. "Codice ISTAT del comune amministrativo")</dd>
      <dt>Tipologia dell'attributo</dt>
      <dd>testo, numero, data, etc.</dd>
      <dt>Formato dell'attributo</dt>
      <dd>Ad esempio unità di misura o struttura della data</dd>
      <dt>Valori ammessi</dt>
      <dd>Rappresenta il dominio del attributo e ne contiene, ove necessario, la decodifica (es. "Il codice assume valori che vanno da 1 a 223, numero dei comuni totali della Provincia Autonoma di Trento") </dd>
    </dl>

  </div>

{% elif field_name == 'Copertura Geografica' %}
  <div class="control-group control-medium">
    <label for="field-Copertura-Geografica" class="control-label">{{ field_name }}</label>
    <div class="controls ">
      <select id="field-Copertura-Geografica" name="Copertura Geografica">
	{% set value = data.get('Copertura Geografica', '') %}
	{% for option in field.options %}
          <option value="{{ option }}" {% if value == option %}selected="selected"{% endif %}>{{ option }}</option>
	{% endfor %}
      </select>
    </div>
  </div>
{% else %}

    {{ form.input(field_name,
        label=field_name,
        id='field-' + field_name.replace(' ', '-'),
        placeholder=field.form_help,
        value=data[field_name],
        error=errors[field_name],
        classes=['control-medium']) }}
{% endif %}
{% endfor %}

<hr>
{{ super() }}
{% endblock %}
