{% ckan_extends %}

{% block subtitle %}{{ _('Categories of Datasets') }}{% endblock %}


{% block breadcrumb_content %}
  <li class="active">{% link_for _('Categories'), controller='group', action='index' %}</li>
{% endblock %}

{% block page_header %}{% endblock %}

{% block page_primary_action %}
  {% if h.check_access('group_create') %}
    {% link_for _('Add Category'), controller='group', action='new', class_='btn btn-primary', icon='plus-sign-alt' %}
  {% endif %}
{% endblock %}


{% block primary_content_inner %}
      <h1 class="hide-heading">{{ _("Categories") }}</h1>
      {% block groups_search_form %}
        {% snippet 'snippets/search_form.html', type='group', query=c.q, sorting_selected=c.sort_by_selected, count=c.page.item_count, placeholder=_('Search categories...'), show_empty=request.params %}
      {% endblock %}
      {% block groups_list %}
      {% if c.page.items or request.params %}
        {% snippet "group/snippets/group_list.html", groups=c.page.items %}
      {% else %}
        <p class="empty">
          {{ _('There are currently no categories for this site') }}.
          {% if h.check_access('group_create') %}
            {% link_for _('How about creating one?'), controller='group', action='new' %}</a>.
          {% endif %}
        </p>
      {% endif %}
      {% endblock %}
    {% block page_pagination %}
    {{ c.page.pager() }}
    {% endblock %}
{% endblock %}



{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="icon-info-sign"></i>
      {{ _('About categories') }}
    </h2>
    <div class="module-content">
      <p>
        {% trans %}
        You can use CKAN Groups to create and manage collections of
        datasets. This could be to catalogue datasets for a particular project
        or team, or on a particular theme, or as a very simple way to help
        people find and search your own published datasets.
        {% endtrans %}
      </p>
    </div>
  </div>
{% endblock %}
