{% extends "page.html" %}

{% block subtitle %}{{ _('Acknowledgements') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">
    {% link_for _('Acknowledgements'),
       controller='ckanext.datitrentinoit.plugin:DatiTrentinoController',
       action='acknowledgements' %}
  </li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      {% block about %}
          {% snippet 'pages/acknowledgements_text.html' %}
      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
