{% extends "page.html" %}
{% set lang = h.lang() %}

{% block subtitle %}{{ _('Acknowledgements') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">
    {% link_for _('Acknowledgements'),
       controller='ckanext.datitrentinoit.plugin:DatiTrentinoController',
       action='acknowledgements' %}
  </li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
	{% if lang == 'it' %}
	  {% snippet 'pages/acknowledgements_text_it.html' %}
	{% else %}
	  {% snippet 'pages/acknowledgements_text.html' %}
	{% endif %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
