<h1 style="border-bottom:solid 1px #ddd;">Project partners</h1>

<p style="text-align:center;">
<a href="http://www.provincia.tn.it/">
  <img style="height:100px;margin:5px;" src="/images/partners/pat.png" alt="Provincia Autonoma di Trento" /></a>
<a href="http://www.trentorise.eu/">
  <img style="height:100px;margin:5px;" src="/images/partners/trentorise.png" alt="TrentoRISE"/></a>
<a href="http://www.unitn.it/">
  <img style="height:100px;margin:5px;" src="/images/partners/unitn.png" alt="UNITN"/></a>
<a href="http://www.fbk.eu/">
  <img style="height:100px;margin:5px;" src="/images/partners/fbk.png" alt="Fondazione Bruno Kessler"/></a>
<a href="http://www.infotn.it/">
  <img style="height:100px;margin:5px;" src="/images/partners/infotn.png" alt="Informatica Trentina"/></a>
</p>

<h1 style="border-bottom:solid 1px #ddd;margin-top: 40px;">Platform</h1>

<p>The catalogue is based on <a href="http://ckan.org">CKAN</a> (Comprehensive Knowledge Archive Network), the open source and web-based platform developed by Open Knowledge Foundation to store and share open data.</p>

<h1 style="border-bottom:solid 1px #ddd;margin-top: 40px;">Images</h1>

<p>Photographer: <a href="https://www.facebook.com/gio8710">Giorgio Dalvit</a>. License: <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported</a>.</p>
