{% extends "page.html" %}

{% set lang = h.lang() %}

{% block subtitle %}{{ _('Privacy') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">
    {% link_for _('Privacy'),
        controller='ckanext.datitrentinoit.plugin:DatiTrentinoController',
        action='privacy' %}
  </li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      {% block about %}
	{% if lang == 'it' %}
	  <h1 class="page-heading">Informativa sulla privacy</h1>
	  {% snippet 'pages/privacy_text_it.html' %}
	{% else %}
	  <h1 class="page-heading">Privacy</h1>
	  {% snippet 'pages/privacy_text.html' %}
	{% endif %}
      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
