<p>Informativa per il trattamento dei dati personali, ai sensi dell'art. 13 D.Lgs. 196/2003</p>

<p>Ai sensi dell'<u>art. 13 del Decreto Legislativo 196/2003</u>, la Provincia Autonoma di Trento, titolare del trattamento dei dati acquisiti nell'ambito del portale <u>www.dati.trentino.it</u>, informa che i dati personali forniti dagli utenti saranno utilizzati per gestire i servizi informativi (newsletter/blog) e/o di assistenza richiesti (via mail) nell'ambito della propria attivit&aacute; istituzionale.</p>

<p>Il trattamento &eacute; effettuato con l'ausilio esclusivo di procedure informatizzate, nei modi e nei limiti necessari a perseguire le predette finalit&aacute;. I dati personali raccolti non saranno diffusi n&eacute; comunicati e potranno essere trattati dagli incaricati del trattamento e da responsabili esterni, formalmente designati, nei limiti di quanto necessario per erogare il servizio informativo e/o prestare assistenza richiesta.</p>

<p>Il conferimento dei dati &eacute; facoltativo ma necessario per ricevere il servizio informativo e/o di assistenza. </p>

<p>Titolare del trattamento &eacute; la Provincia Autonoma di Trento.</p>

<p>Gli Interessati possono esercitare i diritti previsti all'<u>art. 7 del Decreto Legislativo 196/2003</u> rivolgendosi al Titolare o al Responsabile del trattamento designato ai sensi della <u>Del. Giunta Provinciale n. 1081/2013</u>.</p>

<p>Per informazioni &eacute; anche possibile scrivere a <a href="mailto:info@dati.trentino.it">info@dati.trentino.it</a>.</p>
