// dati.trentino.it - Brand css

@import "contrib/elements.less";


// HTML Elements
//----------------------------------------
body {
    background-color: @secondary;
    background-image: none;
    color: @text-color;
}

a,
.btn-link {
    color: darken(@dti-blue, 10%);
}
a {
    .transition(color ease .5s);
}
a:not([href]) {
    cursor: default;
    &, &:hover, &:focus {
	text-decoration: none;
	color: @text-color;
    }
}
a:hover,
a:focus,
.btn-link:hover,
.btn-link:focus {
    color: @dti-blue;
}

a, a:before, a:after,
button, input[type="button"] {
    transition: background-color ease .5s,
                border-color ease .5s,
		color ease .5s;
}

h1, h2, h3, h4, h5, h6 {
//     color: @dti-blue;
    a[href^="#"] {
	display: none;
    }
    &:hover {
	a[href^="#"] {
	    display: inline;
	}
    }
}



// Dropdown menu
//----------------------------------------
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
    .gradient(darken(@primary, 20%), darken(@primary, 20%), darken(@primary, 10%));
}
.dropdown-menu > .active {
    > a,
    > a:hover,
    > a:focus {
	.gradient(darken(@primary, 20%), darken(@primary, 20%), darken(@primary, 10%));
    }
}
.nav-list > .active {
    > a,
    > a:hover,
    > a:focus {
	background-color: darken(@primary, 10%);
    }
}
.nav-pills > .active {
    > a,
    > a:hover,
    > a:focus {
	background-color: darken(@primary, 10%);
    }
}
.nav .dropdown-toggle {
    .caret {
	border-top-color: darken(@primary, 10%);
	border-bottom-color: darken(@primary, 10%);
    }
    &:hover .caret,
    &:focus .caret {
	border-top-color: darken(@primary, 30%);
	border-bottom-color: darken(@primary, 30%);
    }
}
a.thumbnail:hover,
a.thumbnail:focus {
    border-color: darken(@primary, 10%);
    -webkit-box-shadow: 0 1px 4px fade(@primary, 25%);
    -moz-box-shadow: 0 1px 4px fade(@primary, 25%);
    box-shadow: 0 1px 4px fade(@primary, 25%);
}

.editor .editor-info-block a {
    color: darken(@primary, 10%);
}

.popover-followee .nav li a i {
    background-color: darken(@primary, 10%);
    -webkit-box-shadow: inset 0 1px 2 x fade(@primary, 20%);
    -moz-box-shadow: inset 0 1px 2 x fade(@primary, 20%);
    box-shadow: inset 0 1px 2 x fade(@primary, 20%);
}

.popover-followee .nav li.active a i {
    color: darken(@primary, 10%);
}


// Focused form fields
//----------------------------------------

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: lighten(@primary, 20%);
    box-shadow:
        inset 0 1px 1px rgba(0,0,0,.075),
        0 0 8px fadeout(@primary, 60%);
    -moz-box-shadow:
        inset 0 1px 1px rgba(0,0,0,.075),
        0 0 8px fadeout(@primary, 60%);
    -webkit-box-shadow:
        inset 0 1px 1px rgba(0,0,0,.075),
        0 0 8px fadeout(@primary, 60%);
}


// Buttons
//----------------------------------------

.button(@bgcolor: #000) {
    .gradient(@bgcolor, softlight(@bgcolor, #000), @bgcolor);
    border-color: softlight(@bgcolor, #000);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    &:hover,
    &:focus,
    &:active,
    &.active,
    &.disabled,
    &[disabled] {
	//background-color: softlight(@bgcolor, #000);
	background: softlight(@bgcolor, #000);
    }
}

.btn-primary {
    .button(@dti-blue);
}

.btn-info {
    .button(@secondary);
}

.btn-success {
    .button(@success);
}

.btn-warning {
    .button(@warning);
}

.btn-danger {
    .button(@danger);
}


// Top row with links
//----------------------------------------

.account-masthead {
    background-color: @dti-green;
    background-image: none;

//    background: #222;
//    border-bottom: solid 5px darken(@dti-green, 10%);

    color: #fff;
    text-shadow: 1px 1px 3px rgba(0,0,0,.5);

    .account ul li {
	border: none;
	a {
	    color: #fff;
	    transition: background-color ease .5s;

	    &:hover {
		color: #fff;
		background-color: darken(@dti-green, 10%);
	    }
	}
    }
    .account .notifications a span {
	background-color: darken(@dti-green, 10%);
    }
}

// Site header
//----------------------------------------
.nav-pills > li > a {
    border-radius: 0 0 0 0;
}
.masthead {
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: #ffffff;
    background-image: none;
    border-bottom: solid 1px #ccc;
    // background: #222; color: #eee;

    &, a { color: #333; }

    .navigation {
	margin: 0;
    }

    .navigation .nav-pills {
	> li:first-child > a {
	    border-top-left-radius: 5px;
	    border-bottom-left-radius: 5px;
	    padding-left: 20px;
	}
	> li:last-child > a {
	    border-top-right-radius: 5px;
	    border-bottom-right-radius: 5px;
	    padding-right: 20px;
	}
	> li > a {
	    margin: 0;
	    padding: 10px 10px;
	    color: #fff;
	    background: @dti-blue;
	    transition: background-color ease .5s;
	    .border-radius(0 0 0 0);

	    &:hover, &:focus {
		background-color: lighten(@dti-blue, 5%);
	    }
	}
	li.active a {
	    background-color: darken(@dti-blue, 5%);
	}
    }

    input[type="text"] {
	border-color: darken(@primary, 10%);
	&:focus {
	    .box-shadow(inset 0px 0px 5px 0px rgba(0, 0, 0, 0.3));
	}
    }
    .site-search input {
	padding: 5px 10px;
    }

    .logo {
	display: block;
	margin-top: 6px;
    }

    .header-image .subtitle {
	position: absolute;
	top: 70px;
	right: 0;
	font-size: 16px;
	font-style: italic;

	strong { color: @dti-blue; }
    }

    .site-search input[name="q"] {
	border-color: #aaa;
    }
}




// Main
//----------------------------------------
[role="main"],
.main {
    background-image: none;
    background-color: #eee;
}

.box {
    .box-shadow(none);
}

.pill {
    background-color: @secondary;
    a:hover {
	color:#FFF;
    }
}

.nav-item.active {
    > a,
    > a:hover {
	background-color: @secondary;
    }
    > a:before {
	border-left-color:@secondary;
    }
}

// Footer
//----------------------------------------
.site-footer {
    background-color: @footer-bg;
    background-image: none;
    border-top: solid 1px #000;
    color: fade(@footer-fg, 60%);

    .navigation .nav-pills {
	a:hover,
	.active a {
	    background-color: @secondary;
	}
    }

    input[type="text"] {
	border-color: darken(@secondary, 10%);
    }

    &,
    label,
    small {
	color: fade(@footer-fg, 60%);
    }

    a {
	color: fade(@footer-fg, 60%);
	&:hover {
	    color: @footer-fg;
	}
    }
    hr {
	border-color: lighten(@footer-bg, 10%);
    }
}

.attribution small {
    color: fade(@secondary-fore, 60%);
}
