//============================================================
// Homepage styles
//============================================================

.main.homepage .tags.box {
    margin:-1px 0 20px 0;
    padding:13px 20px;
    .border-radius(0,0,0,0);
    h3 {
	float:left;
	font-size:15px;
	line-height:24px;
	margin:0 10px 0 0;
    }
}
.home-box {
    background: #eee;
    padding: 20px;
    border: solid 1px #ddd;
    margin: 0 0 20px 0;
    border-radius: 3px;
    text-align: center;
    height: 140px;

    .tag-list-2 a.tag-item {
	background: #fff;
    }
    .tag-list-2 a.tag-item:before {
	border-color: transparent #fff transparent transparent;
    }
    .tag-list-2 a.tag-item:hover {
	background: #555;
    }
    .tag-list-2 a.tag-item:hover:before {
	border-color: transparent #555 transparent transparent;
    }
}
