//============================================================
// Homepage styles
//============================================================

.main.homepage .tags.box {
    margin: -1px 0 20px 0;
    padding: 13px 20px;
    .border-radius(0,0,0,0);

    h3 {
	float: left;
	font-size: 15px;
	line-height: 24px;
	margin: 0 10px 0 0;
    }
}

.home-box {
    height: 140px;
    margin: 0 0 20px 0;
    padding: 20px;
    text-align: center;
    background: #eee;
    border: solid 1px #ddd;
    border-radius: 3px;
    .box-shadow(inset 1px 1px 0 #fff);

    // .tag-list-2 a.tag-item {
    // 	background: @tag-bg;
    // }
    // .tag-list-2 a.tag-item:before {
    // 	border-color: transparent #fff transparent transparent;
    // }
    // .tag-list-2 a.tag-item:hover {
    // 	background: @tag-hover-bg;
    // }
    // .tag-list-2 a.tag-item:hover:before {
    // 	border-color: transparent @tag-hover-bg transparent transparent;
    // }
    // .tag-list-2 a.tag-item:after {
    // 	background: #eee;
    // }
}
